/* Main styling */

 
/* formatting of main body */

body {
    margin: 0;
    background-color: lightyellow;
}

/* font color and placement of main title */

h1 {
    color: black;
    margin-left: 20px;
}

/* font style and size for paragraphs */

p { 
   font-family: verdana;
   font-size: 18px;
   color: black;
}

/* formatting of tables */

th, td {
    padding: 15px;
    text-align: left;
    background-color: #00303F;
    color: black;
}

* {
    box-sizing: border-box;
}


/* Style of borderd text */
.dotted {border-style: dotted;}
.dashed {border-style: dashed;}
.hidden {border-style: hidden;}
.solid {border-style: solid;
         font-size: 10px;
         width: 500px;
         margin-left: 25px;}


/* Style the side navigation */

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #00303F;
    overflow-x: hidden;
}


/* Side navigation links */

.sidenav a {
    color: white;
    padding: 16px;
    text-decoration: none;
    display: block;
}

/* Change color on hover */

.sidenav a:hover {
    background-color: #00303F;
    color: white;
}

/* Style the content */

.content {
    margin-left: 200px;
    padding-left: 20px;
    color: black;
}


/* Columns for images */

.column {
    float: left;
    width: 200px;
    padding: 10px;
}

.column img {
    float: center;
    margin-top: 12px;
}

.column desc {
    padding: 15px;
    text-align: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */

.footer {
    background-color: #00303F;
    color: black;
    padding: 10px;
}

/* unvisited link */

a:link {
    color: lightpurple;
}

/* visited link */

a:visited {
    color: hotpink;
}

/* mouse over link */

a:hover {
    color: lightpurple;
}

/* selected link */

a:active {
    color: lightpurple;
}

/* Default styles (sidenav takes up 200px) */
.sidenav {
    width: 200px;
    ... (other styles)
}
